doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")

        title ダークモード表示サンプル
    body.light-scheme
        div.slide
            h1.title タイトル
            h2.subtitle サブタイトル
